:root {
  --primary: hsl(160deg, 100%, 30%);
  --secondary-light: hsl(45deg, 100%, 50%);
  --secondary-dark: hsl(45deg, 100%, 40%);
  --black: hsl(0deg, 0%, 0%);
  --gray-very-dark: hsl(0deg, 0%, 10%);
  --gray-dark: hsl(0deg, 0%, 30%);
  --gray-medium: hsl(0deg, 0%, 40%);
  --gray-light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 24px;
}

p {
  line-height: 1.5;
}

h1 {
  margin-top: calc(96rem/16);
  color: hsl(0deg, 0%, 0%);
}

.intro-chunk p:nth-of-type(1) {
  margin-top: calc(48rem/16);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

p:last-of-type::after {
  content: "";
  margin-top: 24px;
  margin-left: -12px;
  display: block;
  height: 50px;
  width: 100vw;
  background: hsl(0deg, 0%, 40%);
  border-top: 8px solid hsl(0deg, 0%, 60%);
}

.intro-chunk p {
  max-width: 330px;
}

.intro-chunk p:last-of-type::after {
  margin-top: 48px;
}

h2 {
  background: hsl(45deg, 100%, 50%);
  padding: 12px 32px;
  margin-left: -24px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  width: fit-content;
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background: hsl(0deg, 0%, 100%);
}


main {
  background: hsl(0deg, 0%, 40%);
}